@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

:root {
  --bg: #f3f4f6;
  --surface: #ffffff;
  --surface-alt: #f9fafb;
  --border: #d1d5db;
  --text-primary: #111827;
  --text-secondary: #374151;
  --text-muted: #9ca3af;
}

.dark {
  --bg: #171717;
  --surface: #262626;
  --surface-alt: #404040;
  --border: #525252;
  --text-primary: #fafafa;
  --text-secondary: #d4d4d4;
  --text-muted: #737373;
}

@theme {
  --color-bg: var(--bg);
  --color-surface: var(--surface);
  --color-surface-alt: var(--surface-alt);
  --color-border: var(--border);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);
}
